.text {
  &-highlight {
    color: $text-color-highlight !important;
  }

  &-primary {
    color: $brand-primary !important;
  }

  &-secondary {
    color: $brand-secondary !important;
  }

  &-success {
    color: $brand-success !important;
  }

  &-warning {
    color: $brand-warning !important;
  }

  &-muted {
    color: $text-muted;
  }
}

.line-through {
  text-decoration: line-through;
  color: $text-muted
}

.nowrap {
  white-space: nowrap;
}
